<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Project BPR">
    <meta name="keywords" content="Pokémon, games, project">
    <meta name="author" content="El Mallaly Rouchdi, Serraji Bilal, Łagoda Patryk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body id="basic">
    <header>
        <nav>
            <ul>
                <li><a href="index">LandingPage</a></li>
                <li><a href="login">login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>GAMES</h1>
        <section id="landingGames">
          
               

             

                    <a href="/login">
                        <h1>Pokémon</h1>
                        <img id="image1" class="center" src="/images/Pokemon1.png"
                            alt="image1">
                    </a>

                    <a href="/nietbeschikbaar">
                        <h1>FIFA</h1>
                        <img id="image2" class="center" src="/images/fifa (1).png" alt="image2">
                    </a>

                    <a href="/nietbeschikbaar">
                        <h1>Fortnite</h1>
                        <img id="image3" class="center"
                                            src="/images/fortnite.png" alt="image3">
                    </a>

                    <a href="/nietbeschikbaar">
                        <h1>LegoMasters</h1>
                        <img id="image4" class="center" src="/images/Lego.png"
                                            alt="image4">
                    </a>

                                    
                    <a href="/nietbeschikbaar">
                        <h1>LOTR</h1>
                        <img id="image5" class="center" src="/images/LOTR.png"
                        alt="image5">
                    </a>

                    <a href="/nietbeschikbaar">
                        <h1>MGT</h1>
                      <img id="image6" class="center" src="/images/MTG.jpg"
                            alt="image6">
                    </a>
        </section>
           
                    
                       
              
                

                    


              

      
    </main>
    <footer>
        <p>&copy; BRP-projectgroep 2023-2024</p>
    </footer>
</body>