<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Project BPR">
    <meta name="keywords" content="Pokémon, games, project">
    <meta name="author" content="El Mallaly Rouchdi, Serraji Bilal, Łagoda Patryk">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body id="basic">
    <header>
        <nav>
            <ul>
                <li><a href="index">LandingPage</a></li>
                <li><a href="login">login</a></li>
            </ul>
        </nav>

    </header>
    <main>
        <h1 class="hide">registreer</h1>
        <form action="/createProfile" method="POST">
            <h2>Are you new?
                Create an account!</h2>
            <label for="username">Username:</label>
            <input class="white" type="text" name="username" value="username" />
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <label for="email">Email:</label>
            <input type="email" name="email" required>
            <button class="specialspecialButton" type="submit">Submit</button>
        </form>
    </main>
    <footer></footer>
</body>

</html>